.pending {
  font-size: medium;
  font-weight: bold;
  color: rgb(219, 40, 40);
}

.placed {
  font-size: medium;
  font-weight: bold;
  color: rgb(238, 194, 61);
}

.shipped {
  font-size: medium;
  font-weight: bold;
  color: rgb(98, 202, 41);
}

.delivered {
  font-size: medium;
  font-weight: bold;
  color: rgb(21, 16, 16);
}
.pending_title {
  color: rgb(219, 40, 40);
}

.placed_title {
  color: rgb(238, 194, 61);
}

.shipped_title {
  color: rgb(98, 202, 41);
}

.delivered_title {
  color: rgb(21, 16, 16);
}

.update {
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  color: black;
  padding-bottom: 8px;
}

.viewOrder {
  font-size: 1.2rem;
}

.order {
  padding: 5px;
}
