.back_web {
  border-top: black 1px solid;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  border-top: gray;
  line-height: 15px;
  font-size: 16px;
}

.sidebar_link {
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 2rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
  font-size: 0.75rem;
}
